
.jcc{
    display: flex;
    justify-content: center;
}
.pop{
    padding: 60px;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.place-container{
    margin-top:30px  ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.place-card{
    height: auto;
    min-width: 300px;
    width: 30%;
    padding: 10px 10px 20px 10px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 1rem;
    overflow: hidden;
}
.place-card img{
    border-radius: .5rem;
    height: 200px;


}
.place-card :hover img{
    transform: scale(1.05);
    transition: transform .5s ease;
}
.place-card h3{
    font-weight: 900;
}
.button{
    background-color: #41C929;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.button a{
   color: white;
}
.button:hover{
    transform: scale(1.05);
    transition: transform .5s ease;

}