element {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
a{
    text-decoration: none;
    color: black;
}
.card-container{
    padding: 20px;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 1rem;
}
.place-data img{
    width: auto;
    border-radius: .5rem;
    max-height: 350px;
}
.place-content{
    padding: 0px 30px;
    width: 50%;
}
.place-content p{
    margin-top: 20px;
    font-weight: 700;
    
}
.place-content h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
}
.card-container h2{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 3rem;
}
.img-container{
    display: flex;
    gap: 10px;
    max-width: 100%;
    overflow-y: scroll;
    justify-content: center;
}
.img-container img{
    width: 13rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.place-images h3{
    font-size: 2rem;
    font-weight: 800;
    margin:40px 0px 20px 10px;
}

.Review-sec{
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}
.Review-sec h3{
    font-size: 30px;
}
.Review{
    position: relative  ;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 40px;
    max-height: 300px;
    /* overflow-y: scroll; */
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.reviewer-input{
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 2px ;
}
.reviewer-input img{
    border-radius: 50%;
    width: 60px;
}

.reviewer-input input{
    width: 70%;
    height: 40px;
    min-width: 400px;
    outline: none;
    border: none;
}
.reviewer-input button{
    padding: 5px 13px;
    border-radius: 50%;
    background-color: blue;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: white    ;
}
.review-output{
    width: 100%;
    overflow-y: scroll;

    
}
.review-output img{     
    width: 60px;
    border-radius: 50%;
}
.review-output li{
    display: flex;
    align-items: center ;
    width: 100%;
    height: 70px;
    min-width: 400px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 2rem ;
    
}
.review-output ul{
    display: flex;
    flex-direction: column-reverse;
}
.map{
    width: 100%;
    overflow: hidden;
    padding: 30px;
    margin: 20px;
}
.packs{
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

}
.pack{
    border-radius: 1    0px;
    position: relative;
    width: 250px;
    height: 200px;
    padding: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.pack h3, h4{
    font-weight: 800;
    color: rgb(0, 0, 0);
}
.pack img { 
    object-fit: cover;
    height: 80%;
    border-radius: 5px;
}
.pack h3{
    /* bottom: 30px; */
}
.pack h4{
    /* bottom: 10px; */
}